<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Flex Sheet</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

    <body class="bg-dark">
        <div class="container w-50 mt-5">
            <form class="text-light" method="POST" action="/change">
                <div class="form-row row">
                    <div class="col-md-3">
                        <label for="time-in">Time In</label>
                        <input type="time" class="form-control" id="time-in" name="time-in" value="{{time_in}}" required min="07:30" required max="18:00">
                    </div>
                    <div class="col-md-3">
                        <label for="break-length">Break Length</label>
                        <input type="time" class="form-control" id="break-length" name="break-length" value="{{break_length}}" required min="00:30" required max="3:00">
                    </div>
                    <div class="col-md-3">
                        <label for="time-out">Time Out</label>
                        <input type="time" class="form-control" id="time-out" name="time-out" value="{{time_out}}" required min="07:30" required max="18:00">
                    </div>
                    <div class="col-md-1">
                        <label for="submit"></label>
                        <input type="submit" class="form-control btn btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>